# ignorar modules de Node js 
node_modules

# ignorar las variables de entorno
.env

# innorar las varialbes de entorno de pruebas
.env.test

# directorio de codigo que precarga datos
src/seeders/predata.ts